#head {
	background-color: teal;
	font-family: verdana;
	font-weight: bold;
	color: white;
	margin: auto;
}

#title {
	margin: auto;
}

.btn {
	margin: 3px;
	background-color: teal;
	color: white;
	font-family: verdana;
	font-weight: bold;
}

#rating {
	display: block;
	margin: 0px;
}

body {
	background-color: #f2f2f2;
}
