h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px
	color: white;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: bold;
	color: #4aaaa5;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	font-weight: bold;
	color: #4aaaa5;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

header {
	background-color: #ffffff;
	width: 102%;
	left: 0px;
	padding: auto;
	margin: auto;
}

ul {
	font-size: 12px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	color: #777777;
}
form {
	font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	color: #777777;
}

input {
	border: 1px solid #777777;
}

textarea {
	border: 1px solid #777777;
}

footer {
	color: #ffffff;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #666666;
	overflow: auto;
	padding: auto;
	border-top: 5px solid #4aaaa5;
	text-align: center;
}

img:active {
	filter: grayscale(100%);
}

#top {
	width: 960px;
	margin: auto;
}

#photo {
	margin: auto;
	padding: auto;
}

#container { /*This is where the main container where the content is storered*/
	background-image: url("../images/background.png");
	background-position: top left;
	background-repeat: repeat-x repeat-y;
	min-width: 102vw;
	height: 100vh;
	left: 0px;
	position: absolute;
	border-top: 3px solid #cccccc;
	}

#head {
	left: -20px;
	background-color: #4aaaa5;
	color: #fff;
	float: left;
	clear: none;
	position: relative;
	padding: 0px 25px;
	margin-left: 20px;
	line-height: 40px;
}

#menu {
	background-color: white;
	text-align: right;
	vertical-align: middle;
	line-height: px;
	padding: 30px 10px;
	font-size: 20px;
	clear: none;
}
#title {
	border-bottom: 2px solid #4aaaa5;
	margin-bottom: 15px;
}

.menu {
	text-decoration-line: none;
	font-weight: bold;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	font-size: 13px;
	color: #dddddd;
}

.menu:hover {
	color: blue;
}

.menu:active {
	color: red;
}

.active {
	background-color: #4aaaa5;
	color: black;
}
.background {
	height: auto;
	width: auto;

}
#content {
	width: 960px;
	margin: auto;
}

#page {
	background-color: white;
	width: 650px;
	padding: 15px;
	float: left;
	display: inline;
	position: relative;
	margin-top: 25px;
	border: 1px solid #dddddd;
}

#contact {
	width: 270px; 
	float: right;
	display: inline;
	text-align: center;
	background-color: white;
	position: relative;
	margin-top: 25px;
	border: 1px solid #dddddd;
}

#profile { /*My profile picture*/
	border: 4px solid #4aaaa5;
	float: left;
	clear: none;
	margin: 1px 8px 5px 0px;
}

#submit {
	color: #ffffff;
	background: #4aaaa5;
	font-size: 25px;
	border: 0px none;
	position: absolute;
	left: 250px;
	top: auto;
}

.port {
	width: 280px;
	height: 200px;
	position: relative;
	border: 3px solid #dddddd;
	left: 25px; /*Centering with relative*/
	margin: 5px;
}

.labelset {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	float: left;
	color: white;

}

.label-1 {
	position: absolute;
	top: 265px;
	left: 58px;
	background: #4aaaa5;
	width: 260px;
	height: 50px;
}

.label-2 {
	position: absolute;
	top: 265px;
	left: 358.5px;
	background: #4aaaa5;
	width: 260px;
	height: 50px;
}

.label-3 {
	position: absolute;
	top: 485px;
	left: 58px;
	background: #4aaaa5;
	width: 260px;
	height: 50px;
}

.label-4 {
	position: absolute;
	top: 485px;
	left: 358.5px;
	background: #4aaaa5;
	width: 260px;
	height: 50px;
}

.label-5 {
	position: absolute;
	top: 705px;
	left: 58px;
	background: #4aaaa5;
	width: 260px;
	height: 50px;
}

.label-6 {
	position: absolute;
	top: 705px;
	left: 358.5px;
	background: #4aaaa5;
	width: 260px;
	height: 50px;
}


@media (max-width: 640px) {
	#container {
		width: 640px;
		height: 100vh;
	}
	#contact {
		float: none;
		display: block;
		width: 100%;
	}

	#page {
		float: none;
		display: block;
		width: 100%;
	}
}
