h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 2em;
	color: white;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.7em;
	font-weight: bold;
	color: #4aaaa5;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #4aaaa5;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
}

header {
	background-color: #ffffff;
	width: 100vw;
	left: 0px;
	padding: auto;
	margin: auto;
}

ul {
	font-size: 1em;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	color: #777777;
}
form {
	font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	color: #777777;
}

input {
	border: 1px solid #777777;
}

textarea {
	border: 1px solid #777777;
}

footer {
	color: #ffffff;
	width: 100vw;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #666666;
	overflow: auto;
	padding: auto;
	border-top: 5px solid #4aaaa5;
	text-align: center;
}

img:active {
	filter: grayscale(100%);
}

#top {
	max-width: 960px;
	margin: auto;
}

#photo {
	margin: auto;
	padding: auto;
}

#container { /*This is where the main container where the content is storered*/
	background-image: url("../images/background.png");
	background-position: top left;
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	left: 0px;
	position: relative;
	border-top: 3px solid #cccccc;
	width: 100vw;
	height: 100vh;
	}

#head {
	left: -20px;
	background-color: #4aaaa5;
	color: #fff;
	float: left;
	clear: none;
	position: relative;
	padding: 0px 25px;
	margin-left: 20px;
	line-height: 40px;
}

#menu {
	background-color: white;
	text-align: right;
	vertical-align: middle;
	line-height: px;
	padding: 30px 10px;
	font-size: 20px;
	clear: none;
}
#title {
	border-bottom: 2px solid #4aaaa5;
	margin-bottom: 15px;
}

.menu {
	text-decoration-line: none;
	font-weight: bold;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	font-size: 1em;
	color: #dddddd;
}

.menu:hover {
	color: blue;
}

.menu:active {
	color: red;
}

.active {
	background-color: #4aaaa5;
	color: black;
}
.background {
	height: auto;
	width: auto;

}
#content {
	width: 960px;
	margin: auto;
}

#page {
	background-color: white;
	width: 650px; /*650px*/
	padding: 15px;
	float: left;
	display: inline;
	position: relative;
	margin-top: 25px;
	border: 1px solid #dddddd;
}

#contact {
	width: 270px; 
	float: right;
	display: inline;
	text-align: center;
	background-color: white;
	position: relative;
	margin-top: 25px;
	border: 1px solid #dddddd;
}

#profile { /*My profile picture*/
	border: 4px solid #4aaaa5;
	float: left;
	width: 200px;
	clear: none;
	margin: 1px 8px 5px 0px;
}

#submit {
	color: #ffffff;
	background: #4aaaa5;
	font-size: 25px;
	border: 0px none;
	position: relative;
	text-align: center;
	top: auto;
}

.port {
	width: 280px;
	height: 200px;
	border: 3px solid #dddddd;
	margin: 5px;
}

.portfolio {
	position: relative;
	left: 25px;
	margin: auto;
	display: inline;
}
/*
.labelset {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	float: left;
	color: white;

}*/

.label {
	position: absolute;
	display: inline;
	background-color: #4aaaaf;
	line-height: 24px;
	width: 280px;
	left: 8px;
	bottom: 30px;
	margin: auto;
	overflow: none;
	text-align: center;
}



@media (max-width: 640px) {
	#content {
		width: 100%;
		overflow: none;
	}
	#contact {
		float: none;
		display: block;
		width: 87%;
		margin: auto;
	}

	#page {
		margin: auto;
		float: none;
		display: block;
		width: 80%;

	}

	#container {
		width: 100%;
		height: 100%;
	}

	#profile {
		float: none;
		position: relative;
		width: 100%;
	}

	#top {
		width: 100%;
		left: 0px;
		position: relative;
	}

	#head {
		position: static;;
		width: 95%;
		clear: all;
		text-align: center;
		display: block;
		padding: auto;
		margin: auto;
		left: 0px;

	}

	#menu {
		width: 95%;
		display: block;
		clear:all;
		text-align: center;
		padding: 10px;

	}

	h2 {
		text-align: center;
	}

	footer {
		width: 100vw;
	}
}

@media (max-width: 768px) {
	#content {
		width: 100%;
		overflow: none;
	}
	#contact {
		float: none;
		display: block;
		width: 87%;
		margin: auto;
	}

	#page {
		margin: auto;
		float: none;
		display: block;
		width: 80%;

	}

	#container {
		width: 100%;
		height: 100%;
	}

	#profile {
		float: none;
		position: relative;
		width: 300px;
	}

	#top {
		width: 100%;
		left: 0px;
		position: relative;
	}

	#head {
		position: static;;
		width: 95%;
		clear: all;
		text-align: center;
		display: block;
		padding: auto;
		margin: auto;
		left: 0px;

	}

	#menu {
		width: 95%;
		display: block;
		clear:all;
		text-align: center;
		padding: 10px;

	}

	h2 {
		text-align: center;
	}

	footer {
		width: 100vw;
	}
}
