body {
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header {
    background-color: transparent
}

.box {
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 2px;
    border: 2px solid green;
    display: inline-block;
}

.avatar {
    border: 2px solid red;
    width: 100px;
    height: 100px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin-top: 8px;
}

.name {
    color: red;
    margin-top: 3px;

}

.stats {
    color: white;
    display: none;
}

.dead {
    filter: grayscale(100%);
}

#winAlert {
    display: none;
    color: green;
    font-size: 5em;
    text-align: center;
}

#lossAlert {
    display: none;
    color: red;
    font-size: 5em;
    text-align: center;
}

#newGame {
    display: none;
    width: 400px;
    height: 150px;
    margin-left: 500px;
}