body {
	background-color: black;
	color: white;
}

#lives {
	text-align: center;
	font-size: 2em;
}

#wordHolder {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
}

#wins {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
}

#loss {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
}

#usedLetters {
	text-align: center;
	font-size: 3em;
	color: red;
}

#guessesRemain {
	text-align: center;
	font-size: 3em;
	color: red;
}

.btn {
	border: 1px solid black;
	font-size: 2em;
	text-align: center;
	
}

#hint {
	width: 600px
}

#song {
	display: none;
}

footer {
	text-align: center;
	width: 100vw;
	background-color: gold;
	color: black;
	font-weight: bold;
}