input {
	width: 95vw;
	border: 2px solid black;
}

input:invalid {
	border: 2px dashed red;
}

#train {
	font-weight: bold;
	margin-bottom: 1px;
	margin-top: 1px;
}

.panel {
	width: 98vw;
	margin: auto;
	margin-top: 25px;
	border: 1px solid  #ccffff;
}

.jumbotron {
	background-color: green;
	color: white;
	font-weight: bold;
	text-shadow: 4px 4px 5px black;
}

.panel-default>.panel-heading {
	background-color:  #ccffff;
}

#formSubmit {
	background-color: #47d147;
}

.delete {
	background-color: #ff8566;
}

#firstArrival-input:invalid {
	color: red;
}

#firstArrival-input:valid {
	color: black;
}