body {
	background-color: #d9d9d9
}

input {
	width: 95vw;
	border: 2px solid black;
}

input:invalid {
	border: 2px dashed red;
}

#train {
	font-weight: bold;
	margin-bottom: 1px;
	margin-top: 1px;
}

.panel {
	width: 98vw;
	margin: auto;
	margin-top: 25px;
	border: 1px solid #66b3ff;
}

.jumbotron {
	background-image: url("../images/imageTrain.jpg");
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: 100% 100%;
	background-color: green;
	color: black;
	font-weight: bold;
	text-shadow: 4px 4px 5px green;
	border-bottom: 4px solid #4d4d4d;
}

.title {
	font-weight: bolder;
}

#time {
	color: white;
	text-shadow: 4px 4px 5px black;	
}

.panel-default>.panel-heading {
	background-color:  #66b3ff;
	color: white;
}

#formSubmit {
	background-color: #47d147;
}

.delete {
	background-color: #ff8566;
}

#firstArrival-input:invalid {
	color: red;
}

#firstArrival-input:valid {
	color: black;
}